<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Real Time Chat</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Danel G. Rasmussen">
        <meta name="description" content="Real Time Chat">

        <link rel="stylesheet" href="../static/home.css">
        <link rel="stylesheet" href="../static/interaction.js">
    </head>
    <body>
        <header>
            <h1>Real Time Chat</h1>
        </header>
        <main>
            <form action="../messages/" aria-label="Select a username.">
                <fieldset>
                    <label>
                        Please enter your username<br>
                        <input type="text">
                    </label>
                </fieldset>
                <input type="button" value="Join!" id="button">
            </form>
        </main>
        <footer>
            
        </footer>
    </body>
</html>