<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Real Time Chat</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Danel G. Rasmussen">
        <meta name="description" content="TBD">

        <link rel="stylesheet" href="../static/messages.css">
        <script src="../static/addMessages.js" defer></script>
        <script src="../static/interaction.js" defer></script>
    </head>
    <body>
        <header>

        </header>
        <main>
            <div id="messages">
                <div id="anchor"></div>
            </div>
            <form id="sending">
                <input type="text" id="message">
                <input type="button" value="Send" id="send">
            </form>
        </main>
        <footer>
            
        </footer>
    </body>
</html>